
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* .work .work-overlay {
  position: relative;
  display: flex;
}

.work .bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: var(--work-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work .bottom-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  min-width: 205px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
} */

/* Стили для секция команда */



/* Стили для секции клиенты */



/* Стили для подвала */



/* Стили для портфолио */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BACKDROP<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FOLLOW FOOTER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
